<ion-header>
  <ion-toolbar>
     <ion-title>
       My Vouchers
       <ion-icon class="ion-float-right" name="mail"></ion-icon>
     </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/welcome.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Bony upominkowe</ion-card-subtitle>
      <ion-card-title>Prosto i przejrzyście</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Skanuj kody i zbieraj zadowolonych klientów</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="primary" (click)="login()">Login</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="primary" expand="full" color="danger" (click)="register()">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
